h1{
   font-size: 35px;
   color:#0000ff;
}
p{ 
    font-size: 18px;
}
h2{ 
    color: #72082c;
}
.chamada-noticia{
    color:#e2243d
}
.subtitulo{
    font-size: 28px;
    color: #116d79;
    text-decoration:  underline;
}
h1,h2,p{
    font-family: Arial;
}