body{
    font-family: Arial;
    font-size: 16px;
    color: #333333;
}
.subtitulo{
    color: #0e109b;
}
h2{
    color:#e72ae7;
    font-size: 35px;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
