ul.tasks-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.tasks-list div.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: solid 1px rgb(216, 214, 214);
    border-radius: 5px;
    margin-bottom: 4px;
}
div.task li.task-title{
    flex: 2;
}
div.task button{
    margin: 2px;
}

i{
    pointer-events: none;
}
